li {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid lightblue;
  background: lightcoral;
  font-size: 24px; }

ul {
  font-size: 0; }
  ul li {
    width: 100%; }
    ul li:first-child:nth-last-child(2),
    ul li:first-child:nth-last-child(2) ~ li {
      display: inline-block;
      width: 50%; }
    ul li:first-child:nth-last-child(3),
    ul li:first-child:nth-last-child(3) ~ li {
      display: inline-block;
      width: 33%; }
