@charset "UTF-8";
input[type="checkbox"] {
  display: none; }

/* checkbox未选中时的样式 */
.checkbox {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  border: 1px solid #ddd;
  font-size: 0;
  vertical-align: middle; }

label {
  margin-right: 10px; }

/* 选中时的样式 */
input[type=checkbox]:checked + .checkbox {
  font-size: 12px; }
